@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* Ẩn thanh cuộn cho danh mục nhưng vẫn cho phép cuộn ngang */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}